@font-face {
    font-family: B Titr;
    src: url('../font/BTitrBold.woff2') format('woff2'),
    url('../font/BTitrBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.mainHeaderStyleOnline {
    background-color: #374b71;
    font-size: 14px;
    color: white;
    padding: 4px;
}

.myBoxedGridCell {
    font-family: Arial, serif;
    font-size: 11px;
    direction: ltr;
}

.rtl .fieldpicker_style img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.texttoLable {
    border: none !important;
}

.box-shaddow:hover {
    /*-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);*/
    /*background: rgba(255, 255, 255, 0.7);*/
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans, tahoma, serif;
    color: #060790;
    text-align: center;
}

/*Fix Bug*/
.checkboxFalse {
    max-width: 100% !important;
}

span {
    display: inline-flex !important;
}

span:hover {
    display: inline-flex !important;
}


.formTitleRTL {
    white-space: nowrap !important;
}

.dateChooserBorder {
    position: fixed !important;
    left: 815px !important;
    top: 161px !important;
    margin: 10% auto !important;
}

.comboBoxItemPicker, .comboBoxItemPickerOver, .comboBoxItemPickerFocused, .comboBoxItemPickerFocusedOver, .comboBoxItemPickerDisabledrtl, .comboBoxItemPickerrtl, .comboBoxItemPickerOverrtl, .comboBoxItemPickerFocusedrtl, .comboBoxItemPickerFocusedOverrtl {
    position: absolute !important;
    left: 3px !important;
}
.selectItemPickerIcon, .selectItemPickerIconOver, .selectItemPickerIconRTL, .selectItemPickerIconOverRTL, .selectItemPickerIconFocused, .selectItemPickerIconFocusedRTL, .selectItemPickerIconDisabled, .selectItemPickerIconDisabledRTL, .selectItemPickerIconError, .selectItemPickerIconErrorOver, .selectItemPickerIconErrorRTL, .selectItemPickerIconErrorOverRTL, .selectItemPickerIconErrorFocused, .selectItemPickerIconErrorFocusedRTL, .selectItemPickerIconErrorFocusedOver, .selectItemPickerIconErrorFocusedOverRTL{
    position: relative !important;
}
/*End Fix Bug*/



.ribbonBar{
    background-color: rgb(251, 251, 251) !important;
}

.testmain{
    background: #ebecf0 !important;
}

#testmain{
    background: #ebecf0 !important;
}




/*Help General*/
.glow-on-hover {
    background: #111;
    color: #989898;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: help;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    flex-direction: row;
    text-align: center;
    
}


#mybutton {
    position: fixed;
    left: 10px;
    bottom: 6px;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    opacity:0.5;
    text-align: center;
}
#mybutton:hover {
    bottom: 8px;
    opacity:1;

}
/*Help General*/

