@font-face {
    font-family: B Titr;
    src: url('../font/BTitrBold.woff2') format('woff2'),
    url('../font/BTitrBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.mainHeaderStyleOnline {
    background-color: #153560;
    font-size: 14px;
    color: white;
    padding: 4px;
    font-family: B Titr, serif !important;
}


.myBoxedGridCell {
    font-family: Arial, serif;
    font-size: 11px;
    direction: ltr;
}

.rtl .fieldpicker_style img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.texttoLable {
    border: none !important;
}

.box-shaddow:hover {
    /*-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);*/
    /*background: rgba(255, 255, 255, 0.7);*/
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans, tahoma, serif;
    color: #060790;
    text-align: center;
}

/*Fix Bug*/
.checkboxFalse {
    max-width: 100% !important;
}

span {
    display: inline-flex !important;
}

span:hover {
    display: inline-flex !important;
}


.formTitleRTL {
    white-space: nowrap !important;
}

.dateChooserBorder {
    position: fixed !important;
    left: 815px !important;
    top: 161px !important;
    margin: 10% auto !important;
}

.comboBoxItemPicker, .comboBoxItemPickerOver, .comboBoxItemPickerFocused, .comboBoxItemPickerFocusedOver, .comboBoxItemPickerDisabledrtl, .comboBoxItemPickerrtl, .comboBoxItemPickerOverrtl, .comboBoxItemPickerFocusedrtl, .comboBoxItemPickerFocusedOverrtl {
    position: absolute !important;
    left: 3px !important;
}
.selectItemPickerIcon, .selectItemPickerIconOver, .selectItemPickerIconRTL, .selectItemPickerIconOverRTL, .selectItemPickerIconFocused, .selectItemPickerIconFocusedRTL, .selectItemPickerIconDisabled, .selectItemPickerIconDisabledRTL, .selectItemPickerIconError, .selectItemPickerIconErrorOver, .selectItemPickerIconErrorRTL, .selectItemPickerIconErrorOverRTL, .selectItemPickerIconErrorFocused, .selectItemPickerIconErrorFocusedRTL, .selectItemPickerIconErrorFocusedOver, .selectItemPickerIconErrorFocusedOverRTL{
    position: relative !important;
}
/*End Fix Bug*/



.ribbonBar{
    background-color: rgb(251, 251, 251) !important;
}

.testmain{
    background: #ebecf0 !important;
}

#testmain{
    background: #ebecf0 !important;
}


#isc_KT{
    position: absolute !important;
    left: 0px !important;
    top: 234px !important;
    width: 906px !important;
    height: 473px !important;
    z-index: 800666 !important;
    padding: 0px !important;
    margin: 5px !important;
    box-sizing: border-box !important;
    overflow: visible !important;
    right: 0px !important;
    justify-content: center !important;
    text-align: center !important;
    margin: 0 auto !important;
}


.Shipment_style table tbody:nth-of-type(2) tr td input {
    margin: 5px 0px !important;

}


.Shipment_style table tbody tr td nobr label{
   font-weight: normal !important;
}



